.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    min-block-size: 100vh; 
    
}
.header {
    display: flex;
    flex-direction: column;
    height: 82px;
    width: 100%;
    background-color: #1F1E1B;
    color: white;
    text-align: start;
    border: 1.5px solid #A35709;
    
   
}

.text-container{
   margin-left: 48px;
    text-align: center;
    width: 82px;
    height: 47px;
    margin-top: 17px;
}
.first-title {
    font-size: 16px;
    color: white;
    margin: 1px 0;
   
}

.second-title {
    font-size: 12px;
    color: white;
    margin: 1px 0; 
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1F1E1B;
    height: 150px;
    
    
}



.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
.input{
    max-width: 466px;
    width: 100%;
    height: 32px;
    border: 1px solid #A35709;
    margin-bottom: 2px;
    background-color: transparent;
    color: aliceblue;
}
.add-button {
    width: 72px;
    height: 74px;
    border: 2px solid #A35709;
    background-color: transparent;
    margin-left: 4px;
    margin-bottom: 2px;
    color: #A35709;
  }

.tasks{
    list-style-type: none;
    border: 2px solid #A35709;
    display: flex;
    flex-direction: row;
    background-color: #1F1E1B;
    min-height:50vh;
    margin-left: auto;
    margin-right: auto;
    
}

.single-task{
  /* display: flex; */
  color: white;
  display: flex;
  justify-content: space-between;
   align-items: center; 
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px; 
  border: 1px solid #A35709;
  border-radius: 4px;

}
.task-title{

font-size: 14px;
color: white;

}
.task-description{
 font-size: 12px;
 color: white;
}
.info{
    
    border: 1px solid #A35709;
    background-color: transparent;
    color: aliceblue;
    font-size: 25px;
}
.edit{
    
    border: 1px solid #A35709;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
    padding: 1px;
}
.delete{
    
    border: 1px solid #A35709;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
}
.Empty-task{
    border-top: 1px solid #A35709;
    border-bottom: 1px solid #A35709;
    height: 60px;
    width: max-content !important;
    margin: auto;
    text-align: center;
    color: aliceblue;
}